model/src/main/resources/contract/AssetElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="types.asset.wsdl.fisheries.ec.europa.eu"
            targetNamespace="types.asset.wsdl.fisheries.ec.europa.eu"
            version="1.0">
    
    <xsd:complexType name="Asset">
        <xsd:sequence>
            <xsd:element name="assetId" type="AssetId"/>
            <xsd:element name="active" type="xsd:boolean"/>
            <xsd:element name="source" type="CarrierSource"/>
            <xsd:element name="eventHistory" type="AssetHistoryId" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="countryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gearType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="hasIrcs" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ircs" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="externalMarking" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cfr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="imo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mmsiNo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="hasLicense" type="xsd:boolean"/>
            <xsd:element name="licenseType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="homePort" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="lengthOverAll" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="lengthBetweenPerpendiculars" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="grossTonnage" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="grossTonnageUnit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="otherGrossTonnage" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="safetyGrossTonnage" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="powerMain" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="powerAux" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="producer" type="AssetProdOrgModel" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="contact" type="AssetContact" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="notes" type="AssetNotes" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="iccat" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="uvi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gfcm" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AssetContact">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="number" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="owner" type="xsd:boolean"/>
            <xsd:element name="source" type="ContactSource"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssetNotes">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer" />
            <xsd:element name="date" type="xsd:string" />
            <xsd:element name="activity" type="xsd:string" />
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="readyDate" type="xsd:string" />
            <xsd:element name="licenseHolder" type="xsd:string" />
            <xsd:element name="contact" type="xsd:string" />
            <xsd:element name="sheetNumber" type="xsd:string" />
            <xsd:element name="notes" type="xsd:string"/>
            <xsd:element name="document" type="xsd:string" />
            <xsd:element name="source" type="NoteSource" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NoteActivityCode">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AssetProdOrgModel">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="zipcode" type="xsd:int"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="phone" type="xsd:string"/>
            <xsd:element name="mobile" type="xsd:string"/>
            <xsd:element name="fax" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FlagStateType">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="updatedBy" type="xsd:string"/>
            <xsd:element name="updateTime" type="xsd:string"/>
            <xsd:element name="id" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ContactSource">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INTERNAL" />
            <xsd:enumeration value="NATIONAL" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="NoteSource">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INTERNAL" />
            <xsd:enumeration value="NATIONAL" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CarrierSource">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INTERNAL" />
            <xsd:enumeration value="NATIONAL" />
            <xsd:enumeration value="XEU" />
            <xsd:enumeration value="THIRD_COUNTRY" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EventCode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CEN"/>
            <xsd:enumeration value="CST"/>
            <xsd:enumeration value="CHA"/>
            <xsd:enumeration value="IMP"/>
            <xsd:enumeration value="MOD"/>
            <xsd:enumeration value="DES"/>
            <xsd:enumeration value="RET"/>
            <xsd:enumeration value="EXP"/>
            <xsd:enumeration value="UNK"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="AssetHistoryId">
        <xsd:sequence>
            <xsd:element name="eventId" type="xsd:string"/>
            <xsd:element name="eventCode" type="EventCode"/>
            <xsd:element name="eventDate" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AssetId">
        <xsd:sequence>
            <xsd:element name="type" type="AssetIdType" />
            <xsd:element name="value" type="xsd:string" />
            <xsd:element name="guid" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="AssetIdType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INTERNAL_ID" />
            <xsd:enumeration value="CFR" />
            <xsd:enumeration value="IRCS" />
            <xsd:enumeration value="IMO" />
            <xsd:enumeration value="MMSI" />
            <xsd:enumeration value="GUID" />
            <xsd:enumeration value="ICCAT" />
            <xsd:enumeration value="UVI" />
            <xsd:enumeration value="GFCM" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ConfigSearchField">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FLAG_STATE"/>
            <xsd:enumeration value="EXTERNAL_MARKING"/>
            <xsd:enumeration value="NAME"/>
            <xsd:enumeration value="IRCS"/>
            <xsd:enumeration value="CFR"/>
            <xsd:enumeration value="MMSI"/>
            <xsd:enumeration value="GUID"/>
            <xsd:enumeration value="HIST_GUID"/>
            <xsd:enumeration value="DATE"/>
            <xsd:enumeration value="ICCAT" />
            <xsd:enumeration value="UVI" />
            <xsd:enumeration value="GFCM" />
            <xsd:enumeration value="HOMEPORT"/>
            <xsd:enumeration value="ASSET_TYPE"/> <!-- carrier type, eg. asset -->
            <xsd:enumeration value="LICENSE_TYPE"/>
            <xsd:enumeration value="PRODUCER_NAME"/>
            <xsd:enumeration value="IMO"/>
            <xsd:enumeration value="GEAR_TYPE"/> <!-- fishing gear type -->
            <xsd:enumeration value="MIN_LENGTH"/> <!-- LOA decimal meter -->
            <xsd:enumeration value="MAX_LENGTH"/> <!-- LOA decimal meter -->
            <xsd:enumeration value="MIN_POWER"/> <!-- main engine decimal kW -->
            <xsd:enumeration value="MAX_POWER"/> <!-- main engine decimal kW -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="NumberOfAssetsGroupByFlagState">
        <xsd:sequence>
            <xsd:element name="flagState" type="xsd:string"/>
            <xsd:element name="numberOfAssets" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssetListQuery">
        <xsd:sequence>
            <xsd:element name="pagination" type="AssetListPagination" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="assetSearchCriteria" type="AssetListCriteria" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AssetListCriteria">
        <xsd:sequence>
            <xsd:element name="isDynamic" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="criterias" type="AssetListCriteriaPair" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AssetListPagination">
        <xsd:sequence>
            <xsd:element name="page" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="listSize" type="xsd:int" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AssetListCriteriaPair">
        <xsd:sequence>
            <xsd:element name="key" type="ConfigSearchField" />
            <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BatchAssetListResponseElement">
        <xsd:sequence>
            <xsd:sequence>
                <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="asset" type="Asset" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- common request, response, fault -->
    
    <xsd:element name="AssetFault">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:int" />
                <xsd:element name="fault" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SingleAssetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="asset" type="Asset"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="FlagStateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="flagState" type="FlagStateType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ListAssetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="asset" type="Asset" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="BatchAssetListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="batchList" type="BatchAssetListResponseElement" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="AssetListGroupByFlagStateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numberOfAssetsGroupByFlagState" type="NumberOfAssetsGroupByFlagState" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="FishingGear">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="externalId" type="xsd:long"/>
            <xsd:element name="fishingGearType" type="FishingGearType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FishingGearType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="code" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="AssetDataSourceMethod">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CREATE"/>
            <xsd:enumeration value="UPDATE"/>
            <xsd:enumeration value="GET"/>
            <xsd:enumeration value="LIST"/>
            <xsd:enumeration value="UPSERT"/>
            <xsd:enumeration value="DELETE"/>
            <xsd:enumeration value="HISTORY_GET"/>
            <xsd:enumeration value="HISTORY_LIST"/>
            <xsd:enumeration value="GROUP_GET"/>
            <xsd:enumeration value="LIST_GET_BY_GROUP"/>
            <xsd:enumeration value="GROUP_CREATE"/>
            <xsd:enumeration value="GROUP_UPDATE"/>
            <xsd:enumeration value="GROUP_LIST"/>
            <xsd:enumeration value="GROUP_DELETE"/>
            <xsd:enumeration value="PING"/>
            <xsd:enumeration value="CONFIG"/>
            <xsd:enumeration value="GROUP_LIST_BY_ASSET_GUID"/>
            <xsd:enumeration value="ASSET_LIST_GROUP_BY_FLAGSTATE"/>
            <xsd:enumeration value="FISHING_GEAR_LIST"/>
            <xsd:enumeration value="FISHING_GEAR_BY_ID"/>
            <xsd:enumeration value="FISHING_GEAR_BY_EXT_ID"/>
            <xsd:enumeration value="FISHING_GEAR_UPSERT"/>
        </xsd:restriction>
    </xsd:simpleType>
            
    <xsd:complexType name="AssetDataSourceRequest" abstract="true">
        <xsd:sequence>
            <xsd:element name="method" type="AssetDataSourceMethod" minOccurs="1"/>
            <xsd:element name="username" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="VesselIdentifiersHolder">
        <xsd:sequence>
            <xsd:element name="cfr" type="xsd:string"/>
            <xsd:element name="ircs" type="xsd:string"/>
            <xsd:element name="iccat" type="xsd:string"/>
            <xsd:element name="ext_mark" type="xsd:string"/>
            <xsd:element name="uvi" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssetHistGuidIdWithVesselIdentifiers">
        <xsd:sequence>
            <xsd:element name="assetHistGuid" type="xsd:string"/>
            <xsd:element name="identifiers" type="VesselIdentifiersHolder"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>