model/src/main/resources/sync/Dev_VesselService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0" name="VesselDataService">
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="Mtom.xml">
        <ns1:OptimizedMimeSerialization
                xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp1_2:Policy>
    <wsp:Policy wssutil:Id="VesselDataServicePortBinding_MTOM_Policy-VesselDataServicePortBinding_MTOM_Policy">
        <ns2:OptimizedMimeSerialization
                xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                wsp:Optional="true"/>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0" schemaLocation="VesselService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getVesselExtendedData">
        <part name="parameters" element="tns:getVesselExtendedData"/>
        <part name="clientId" element="tns:clientId"/>
        <part name="partialFailure" element="tns:partialFailure"/>
    </message>
    <message name="getVesselExtendedDataResponse">
        <part name="result" element="tns:getVesselExtendedDataResponse"/>
    </message>
    <message name="FleetDataServiceExceptionFault">
        <part name="fault" element="tns:FleetDataServiceExceptionFault"/>
    </message>
    <message name="getVesselCoreData">
        <part name="parameters" element="tns:getVesselCoreData"/>
        <part name="clientId" element="tns:clientId"/>
        <part name="partialFailure" element="tns:partialFailure"/>
    </message>
    <message name="getVesselCoreDataResponse">
        <part name="result" element="tns:getVesselCoreDataResponse"/>
    </message>
    <message name="getVesselPhotos">
        <part name="parameters" element="tns:getVesselPhotos"/>
        <part name="clientId" element="tns:clientId"/>
        <part name="partialFailure" element="tns:partialFailure"/>
    </message>
    <message name="getVesselPhotosResponse">
        <part name="result" element="tns:getVesselPhotosResponse"/>
    </message>
    <message name="getVesselAggregatedData">
        <part name="parameters" element="tns:getVesselAggregatedData"/>
        <part name="clientId" element="tns:clientId"/>
        <part name="partialFailure" element="tns:partialFailure"/>
    </message>
    <message name="getVesselAggregatedDataResponse">
        <part name="result" element="tns:getVesselAggregatedDataResponse"/>
    </message>
    <portType name="VesselDataService">
        <operation name="getVesselExtendedData" parameterOrder="parameters clientId partialFailure">
            <input wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselExtendedDataRequest" message="tns:getVesselExtendedData"/>
            <output wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselExtendedDataResponse" message="tns:getVesselExtendedDataResponse"/>
            <fault message="tns:FleetDataServiceExceptionFault" name="FleetDataServiceExceptionFault" wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselExtendedData/Fault/FleetDataServiceExceptionFault"/>
        </operation>
        <operation name="getVesselCoreData" parameterOrder="parameters clientId partialFailure">
            <input wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselCoreDataRequest" message="tns:getVesselCoreData"/>
            <output wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselCoreDataResponse" message="tns:getVesselCoreDataResponse"/>
            <fault message="tns:FleetDataServiceExceptionFault" name="FleetDataServiceExceptionFault" wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselCoreData/Fault/FleetDataServiceExceptionFault"/>
        </operation>
        <operation name="getVesselPhotos" parameterOrder="parameters clientId partialFailure">
            <input wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselPhotosRequest" message="tns:getVesselPhotos"/>
            <output wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselPhotosResponse" message="tns:getVesselPhotosResponse"/>
            <fault message="tns:FleetDataServiceExceptionFault" name="FleetDataServiceExceptionFault" wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselPhotos/Fault/FleetDataServiceExceptionFault"/>
        </operation>
        <operation name="getVesselAggregatedData" parameterOrder="parameters clientId partialFailure">
            <input wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselAggregatedDataRequest" message="tns:getVesselAggregatedData"/>
            <output wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselAggregatedDataResponse" message="tns:getVesselAggregatedDataResponse"/>
            <fault message="tns:FleetDataServiceExceptionFault" name="FleetDataServiceExceptionFault" wsam:Action="http://ec.europa.eu/mare/fisheries/vessel/common/v1.0/VesselDataService/getVesselAggregatedData/Fault/FleetDataServiceExceptionFault"/>
        </operation>
    </portType>
    <binding name="VesselDataServicePortBinding" type="tns:VesselDataService">
        <wsp:PolicyReference URI="#VesselDataServicePortBinding_MTOM_Policy-VesselDataServicePortBinding_MTOM_Policy"/>
        <wsp:PolicyReference URI="#Mtom.xml"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getVesselExtendedData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getVesselExtendedData" part="clientId" use="literal"/>
                <soap:header message="tns:getVesselExtendedData" part="partialFailure" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FleetDataServiceExceptionFault">
                <soap:fault name="FleetDataServiceExceptionFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getVesselCoreData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getVesselCoreData" part="clientId" use="literal"/>
                <soap:header message="tns:getVesselCoreData" part="partialFailure" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FleetDataServiceExceptionFault">
                <soap:fault name="FleetDataServiceExceptionFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getVesselPhotos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getVesselPhotos" part="clientId" use="literal"/>
                <soap:header message="tns:getVesselPhotos" part="partialFailure" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FleetDataServiceExceptionFault">
                <soap:fault name="FleetDataServiceExceptionFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getVesselAggregatedData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getVesselAggregatedData" part="clientId" use="literal"/>
                <soap:header message="tns:getVesselAggregatedData" part="partialFailure" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FleetDataServiceExceptionFault">
                <soap:fault name="FleetDataServiceExceptionFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="VesselDataService">
        <port name="VesselDataServicePort" binding="tns:VesselDataServicePortBinding">
            <soap:address location="http://localhost:8889/mare-fleet-register-webservices/v1_0/VesselDataService"/>
        </port>
    </service>
</definitions>